<form role="form" method="POST" action="/events/create" class="createEventForm">
	<div class="page-header">
		<h1>Create new Event</h1>
	</div>
  <div class="form-group">
    <input type="text" class="form-control" id="eventName" placeholder="Enter Event Name" name="eventName">
  </div>
  <div class="form-group">
    <input type="date" class="form-control" id="date" placeholder="Enter date" name="date">
  </div>
   <div class="form-group">
    <input type="time" class="form-control" id="date" placeholder="Enter time" name="time">
  </div>
  <button type="submit" class="btn btn-default submitBtn">Submit</button>
</form>